@page
@model WebApplication1.Pages.EditNewsModel
@{
}

<div class="container" mt-5>
    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="model.text">News content</label>
                    <input type="text" value="" asp-for="model.text" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>



