@page
@model WebApplication1.Pages.UserPanelModel
@{
}



<li class="nav-item">
    <a class="btn btn-primary" asp-page="/ChangePassword">Change Password</a>
</li>

<li class="nav-item">
    <a class="btn btn-primary" asp-page="/ChangeEmail">Change Email</a>
</li>
