@page
@model WebApplication1.Pages.UserPanelModel
@{
}

<div class="container" mt-5>
    <div class="row justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="btn btn-primary" asp-page="/ChangeEmail">Change Email or Username</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" asp-page="/ChangePassword">Change Password</a>
                </li>
                <li class="list-group-item">another button</li>
            </ul>
            <div class="card-footer">
                Card footer
            </div>
        </div>
    </div>
</div>